<div class="damaged-cables__container">
    <h1 class="text-center">{{ config.i18n.title }}</h1>
    <form [formGroup]="reportForm" (ngSubmit)="submitReport()">
      <div class="form-item">
        <label for="description">{{ config.i18n.formContent.description.label }}</label>
        <textarea
          id="description"
          formControlName="description"
          [placeholder]="config.i18n.formContent.description.placeholder">
        </textarea>
      </div>
  
      <div class="form-item">
        <p>{{ config.i18n.formContent.sector.question }}</p>
        <div class="options">
          <button type="button" (click)="setSector(true)">{{ config.i18n.formContent.sector.options.yes }}</button>
          <button type="button" (click)="setSector(false)">{{ config.i18n.formContent.sector.options.no }}</button>
        </div>
      </div>
  
      <div class="form-item">
        <label for="contactNumber">{{ config.i18n.formContent.contactNumber.label }}</label>
        <input
          id="contactNumber"
          type="text"
          formControlName="contactNumber"
          [placeholder]="config.i18n.formContent.contactNumber.placeholder" />
      </div>
  
      <div class="damage-details">
        <div class="detail-item">
          <img [src]="config.i18n.formContent.damageDetails.images.location" alt="Ubicación" />
          <button type="button">{{ config.i18n.formContent.damageDetails.buttons.location }}</button>
        </div>
        <div class="detail-item">
          <img [src]="config.i18n.formContent.damageDetails.images.photo" alt="Foto" />
          <button type="button">{{ config.i18n.formContent.damageDetails.buttons.photo }}</button>
        </div>
      </div>
  
      <button
        type="submit"
        [disabled]="reportForm.invalid">
        {{ config.i18n.formContent.buttons.submitLabel }}
      </button>
    </form>
  </div>
  