<div class="card p-4" style="width: 300px; text-align: center; position: relative">
  <!-- Círculo para el logo, posicionado dentro de la caja de login -->
  <div
    class="absolute bg-white border-circle flex justify-content-center align-items-center"
    style="
      width: 120px;
      height: 120px;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    "
  >
    <img src="./assets/logo001Powerfix.png" alt="Logo" style="width: 50px; height: 50px" />
  </div>

  <div
    class="flex flex-column bg-yellow-50 p-5 border-round-lg pb-8 pt-8"
    style="width: 100%; text-align: center"
  >
    <label class="flex align-items-start">Usuario</label>
    <input type="text" pInputText [(ngModel)]="login.username" placeholder="Usuario" class="mb-3" />
    <label class="flex align-items-start">Contraseña</label>
    <input
      type="password"
      pInputText
      [(ngModel)]="login.password"
      placeholder="Contraseña"
      class="mb-3"
    />
    <!-- Check aceptar terminos y condiciones -->
    <div class="card flex justify-content-center m-2 text-gray-500">
      <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary" />
      <small>Acepto terminos y condiciones</small>
    </div>

    <p-button label="Iniciar sesión" severity="warning"></p-button>
    <br />
    <small class="font-light text-orange-300">Registrarse</small>
  </div>
</div>
