<div class="flex items-center justify-content-around flex-wrap bg-yellow-400 w-full min-h-screen">
  <!-- Caja de información de login -->
  <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
    <presentation-login-info></presentation-login-info>
  </div>
  <!-- Caja del formulario de login -->
<div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
  <presentation-LoginFormComponent></presentation-LoginFormComponent>
</div>

</div>
