<div class="home__container flex align-items-center flex-column mt-3">
  <div>
    <power-fix-dropdown
    [dropDownLabel]="config.i18n.formContent.dropdown.titleDrop"
    >
  </power-fix-dropdown>
  </div>
  <h3 class="text-center pt-4">{{ config.i18n.subTitle }}</h3>

    <div class="logo-image mx-auto bg-white border-circle">
      <p-image [src]="config.image.iconHome.img" [alt]="config.image.iconHome.alt" width="200" />
    </div>

  <div class="home__button flex justify-content-center flex-column align-items-center ">
    <p-button
    [label]="config.i18n.formContent.buttons.butomLabel"
    [link]="true"
    class="mb-5 mt-3"
    styleClass="report-button"
    (click)="goToForms()"
    />

    <h3 class="text-center pt-4">{{ config.i18n.moreInfo }}</h3>

    <p-button
    [label]="config.i18n.formContent.buttons.pay"
    [link]="true"
    class="mt-3"
    styleClass="more-button"
    (click)="goToForms()"
    />

    <p-button
    [label]="config.i18n.formContent.buttons.download"
    [link]="true"
    class="mt-3"
    styleClass="more-button"
    (click)="goToForms()"
    />

    <p-button
    [label]="config.i18n.formContent.buttons.view"
    [link]="true"
    class="mt-3 mb-5"
    styleClass="more-button"
    (click)="goToForms()"
    />
  </div>
</div>
