@import 'app/shared/lib/assets/config/index';

button {

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include mq-max('md') {

    width: 100%;
  }

  @include mq-between('md', 'lg') {

    width: 80%;
  }

  @include mq-min('lg') {

    width: 60%;
  }
}

body {
  @include mq-max('md') {

  }

  @include mq-between('md', 'lg') {

  }

  @include mq-min('lg') {

  }
}
